
#welcome-section  {
    height: 100vh;
    color: var(--darknavy-blue);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #welcome-section h1 {
    font-family: 'Permanent Marker', cursive;
  }
  